In [2]:
## create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_set = set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [7]:
my_set = {1,2,2,3,3,4,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [10]:
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [11]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [12]:
my_set.remove(10)

KeyError: 10

In [13]:
my_set.discard(10)

In [14]:
removed_elment = my_set.pop()
print(removed_elment)
print(my_set)

1
{2, 4, 5, 6, 7}

In [15]:
my_set.clear()
print(my_set)

set()

In [16]:
my_set = {1,2,3,4,5,5,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [17]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
set_union = set1.union(set2)
print(set_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}

intersection_set = set1.intersection(set2)
print(intersection_set)

set()

In [4]:
set1 = {1,2,3,4,5}
set2 = {5,6,7,8,9,10}

set1.intersection_update(set2)
print(set1)

{5}

In [5]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9,10}
print(set1.difference(set2))

{1, 2, 3}

In [6]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

{1, 2, 3, 7, 8, 9}

In [13]:
set1 = {1,2,3,4,5,6,7}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [17]:
text1 = "We are discussing about Sets in Python in this Tutorial"
words = text1.split()

print(set(words))

{'about', 'Sets', 'Tutorial', 'in', 'are', 'this', 'discussing', 'We', 'Python'}